<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke Test suites">
	<!-- <test name="Login and Tab Test Cases"> <classes> <class name="functionalTestCase.*" 
		/> </classes> </test> -->
	<test name="Login and Tab Test Cases">
		<packages>
			<package name="functionalTestCase" />
		</packages>
	</test>
</suite>